問題一

- 讀入 excel 試算表：https://storage.googleapis.com/py_ml_datasets/Energy%20Indicators.xls 並儲存成 DataFrame，命名為 energy

   - 擷取這四個變數並重新命名：['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
   - 將 Energy Supply 單位改為 gigajoules(1 petajoule = 1,000,000 gigajoules)
   - 將 ... 的資料記錄為遺漏值 np.NaN重新命名國家名稱：
      - "Republic of Korea": "South Korea"
      - "United States of America": "United States"  
      - "United Kingdom of Great Britain and Northern Ireland": "United Kingdom"
      - "China, Hong Kong Special Administrative Region": "Hong Kong"
      - 移除小括號或數字，像是 'Bolivia (Plurinational State of)': 'Bolivia'、'Switzerland17': 'Switzerland'

In [47]:
import pandas as pd
xls_url = "https://storage.googleapis.com/py_ml_datasets/Energy%20Indicators.xls"
energy = pd.read_excel(xls_url)
energy = energy.iloc[17:244,2:6]
energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']  
energy = energy.reset_index()
energy["Energy Supply"] = energy["Energy Supply"][:]*1000000

In [48]:
country_list = list(energy["Country"])
for i in country_list:
    if "Republic of Korea" in i:
        energy["Country"] = energy["Country"].replace(i,"South Korea")
    if "United States of America" in i:
        energy["Country"] = energy["Country"].replace(i,"United States")
    if "United Kingdom of Great Britain and Northern Ireland" in i:
        energy["Country"] = energy["Country"].replace(i,"United Kingdom")
    if "China, Hong Kong Special Administrative Region" in i:
        energy["Country"] = energy["Country"].replace(i,"Hong Kong")
        
energy['Country'] = energy['Country'].str.replace("[0-9]+$", "") # 正則表達式: $表示字符串以此結尾。
energy['Country'] = energy['Country'].str.replace("\s\(.+\)$", "") # \s 空白字元，\S非空白字元
energy.head()

,index,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,17,Afghanistan,321000000,10,78.6693
1,18,Albania,102000000,35,100
2,19,Algeria,1959000000,51,0.55101
3,20,American Samoa,.................................................,...,0.641026
4,21,Andorra,9000000,121,88.6957

In [51]:
energy[energy['Country'] == 'South Korea'] # South Korea有重複的兩筆資料

     index      Country Energy Supply Energy Supply per Capita % Renewable
56      73  South Korea     612000000                       25     70.1803
164    181  South Korea   11007000000                      221     2.27935

- 讀入 csv 檔：https://storage.googleapis.com/py_ml_datasets/world_bank.csv 並儲存成 DataFrame，命名為 GDP
- 重新命名國家名稱：
   - "Korea, Rep.": "South Korea" 
   - "Iran, Islamic Rep.": "Iran"
   - "Hong Kong SAR, China": "Hong Kong"

In [38]:
csv_url = "https://storage.googleapis.com/py_ml_datasets/world_bank.csv"
GDP = pd.read_csv(csv_url,skiprows = 4)
gdp_country_list = list(GDP["Country Name"])
for i in gdp_country_list:
    if "Korea, Rep." in i:
        GDP["Country Name"] = GDP["Country Name"].replace(i,"South Korea")
    if "Iran, Islamic Rep" in i:
        GDP["Country Name"] = GDP["Country Name"].replace(i,"Iran")
    if "Hong Kong SAR, China" in i:
        GDP["Country Name"] = GDP["Country Name"].replace(i,"Hong Kong")
GDP.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

- 讀入 excel 試算表：https://storage.googleapis.com/py_ml_datasets/scimagojr-3.xlsx 並儲存成 DataFrame，命名為 ScimEn

In [39]:
xlsx_url = "https://storage.googleapis.com/py_ml_datasets/scimagojr-3.xlsx"
ScimEn = pd.read_excel(xlsx_url)
ScimEn.head(16)

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57
5,6,Canada,17899,17620,215003,40930,12.01,149
6,7,Germany,17027,16831,140566,27426,8.26,126
7,8,India,15005,14841,128763,37209,8.58,115
8,9,France,13153,12973,130632,28601,9.93,114
9,10,South Korea,11983,11923,114675,22595,9.57,104
10,11,Italy,10964,10794,111850,26661,10.20,106
11,12,Spain,9428,9330,123336,23964,13.08,115
12,13,Iran,8896,8819,57470,19125,6.46,72
13,14,Australia,8831,8725,90765,15606,10.28,107
14,15,Brazil,8668,8596,60702,14396,7.00,86
15,16,Taiwan,6468,6441,86099,14768,13.31,102

- 利用國家名稱將上述三個 DataFrame （GDP、Energy、ScimEn）聯結
- 只需要 2006-2015 年的 GDP 資料以及 ScimEn 中排名前 15 的國家
- 資料框的索引值為國家名稱
- 資料框的變數名稱為：['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']

In [40]:
energy = energy.set_index("Country")
GDP = GDP.set_index("Country Name")
ScimEn = ScimEn.set_index("Country")

In [41]:
outer_joined_df = energy.join(ScimEn, how = 'outer') 
outer_joined_df = outer_joined_df.join(GDP.loc[:, '2006':'2015'], how = 'outer')

In [42]:
outer_joined_df_top15 = outer_joined_df[outer_joined_df['Rank']<=15]
outer_joined_df_top15 = outer_joined_df_top15[['Rank', 'Documents', 'Citable documents', 'Citations',
                                     'Self-citations', 'Citations per document', 'H index',
                                     'Energy Supply', 'Energy Supply per Capita', '% Renewable',
                                     '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
outer_joined_df_top15

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Australia,14.0,8831.0,8725.0,90765.0,15606.0,10.28,107.0,5386000000,231,11.8108,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15.0,8668.0,8596.0,60702.0,14396.0,7.00,86.0,12149000000,59,69.648,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12
Canada,6.0,17899.0,17620.0,215003.0,40930.0,12.01,149.0,10431000000,296,61.9454,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
China,1.0,127050.0,126767.0,597237.0,411683.0,4.70,138.0,127191000000,93,19.7549,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
France,9.0,13153.0,12973.0,130632.0,28601.0,9.93,114.0,10597000000,166,17.0203,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
Germany,7.0,17027.0,16831.0,140566.0,27426.0,8.26,126.0,13261000000,165,17.9015,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8.0,15005.0,14841.0,128763.0,37209.0,8.58,115.0,33195000000,26,14.9691,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
Iran,13.0,8896.0,8819.0,57470.0,19125.0,6.46,72.0,9172000000,119,5.70772,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Italy,11.0,10964.0,10794.0,111850.0,26661.0,10.20,106.0,6530000000,109,33.6672,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Japan,3.0,30504.0,30287.0,223024.0,61554.0,7.31,134.0,18984000000,149,10.2328,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
Russian Federation,5.0,18534.0,18301.0,34266.0,12422.0,1.85,57.0,30709000000,214,17.2887,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
South Korea,10.0,11983.0,11923.0,114675.0,22595.0,9.57,104.0,612000000,25,70.1803,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
South Korea,10.0,11983.0,11923.0,114675.0,22595.0,9.57,104.0,11007000000,221,2.27935,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Spain,12.0,9428.0,9330.0,123336.0,23964.0,13.08,115.0,4923000000,106,37.9686,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
United Kingdom,4.0,20944.0,20357.0,206091.0,37874.0,9.84,139.0,7920000000,124,10.6005,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
United States,2.0,96661.0,94747.0,792274.0,265436.0,8.20,230.0,90838000000,286,11.571,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13

問題二
- 在聯結三個資料框的過程中總共失去多少個觀測值？

In [45]:
outer_joined_df.shape[0] - outer_joined_df_top15.shape[0] # South Korea 在energy的資料中重複出現，不然失去的觀測值應為303

302